.footer {
  text-align: center;
  padding: 25px 15px;
  background: #121212;
  color: var(--color-text);
  border-top: 1px solid var(--color-border);
  font-weight: 400;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
}
